<div class="hero-container" *ngIf="userRole === 'Travel Agent' || userRole === 'Admin'; else notAgent">
    <div class="navbar">
      <button (click)="navigateToProfile()">Profile</button>
      <button (click)="navigateToContact()">Contact Us</button>
      <button (click)="logout()">Logout</button>
    </div>
    <div class="hero-content">
      <h1>Hii {{name}} Discover Your Next Opportunity</h1>
      <p>Designed just for travel agents, to inspire you customers and increase your income</p>
      <button (click)="explore()" class="btn btn-primary">Explore Now</button>
    </div>
  </div>
  <ng-template #notAgent>
    <div class="not-agent">
      <h2>You are not a travel agent.</h2>
      <p>Please contact your administrator for more information.</p>
    </div>
  </ng-template>