.main{
    
    
    height: 100vh;
    
    display: flex;
    /*
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center; */
}
h1{
    color: rgb(15, 2, 2);
    text-align: center;
}