<div class="hero-container">

  <div class="navbar">
    <div class="brand">
      voyager
    </div>

    <div class="nav-buttons">
      <button (click)="navigateToProfile()">Profile</button>
      <button (click)="navigateToBookings()">My Bookings</button>
      <button (click)="navigateToContact()">Contact Us</button>
      <button (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="contents">
    <div class="heading">
      <h1>Craft your</h1>
      <h1>Perfect Getaway</h1>
    </div>

    <div class="paragraphs">
      <p>Discover breathtaking destinations, immersive cultures,</p>
      <p>and unforgettable adventures with voyager.</p>
    </div>

    <div class="explore-button-div">
      <button (click)="explore()" class="explore-button">Explore Now</button>
    </div>
  </div>

</div>
