<!-- <div class="profile-container">
    <button (click)="goBack()">Back</button>
    <h2>Profile</h2>
    <div class="profile-details">
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone:</strong> {{ user.phone }}</p>
    </div>
    <div class="profile-actions">
      <button (click)="editProfile()">Edit Profile</button>
      </div>
    <button (click)="logout()">Log Out</button>

  </div> -->

  <div class="user-info-section" id="userInfoSection">
    <div class="container">
      <button (click)="goBack()">Back</button>
        <div class="row">
            <div class="col-12">
                <h1 class="user-info-heading">User Information</h1>
            </div>
            <div class="col-12 col-md-10 col-lg-10">
                <div class="user-info-card shadow p-3 mb-3">
                    <img src="https://tse2.mm.bing.net/th/id/OIP.Ol8gRIQH6hOXPBhtnq2cfQHaHa?rs=1&pid=ImgDetMain" class="user-profile-image" alt="User Profile Picture">
                    <div class="user-info-details">
                        <div class="user-info-item">
                            <h2 class="user-info-key">Name</h2>
                            <p class="user-info-value">{{ user.username }}</p>
                        </div>
                        <div class="user-info-item">
                            <h2 class="user-info-key">Mobile Number</h2>
                            <p class="user-info-value">{{ user.phone }}</p>
                        </div>
                        <div class="user-info-item">
                            <h2 class="user-info-key">Email ID</h2>
                            <p class="user-info-value">{{ user.email }}</p>
                        </div>
                        <div class="profile-actions">
                          <button (click)="editProfile()">Edit Profile</button>
                          </div>
                        <button (click)="logout()">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 
  