/* .profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .profile-details {
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  p {
    margin: 10px 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
   */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
 
.user-info-section {
    width: 100%;
    max-width: 3400px; /* Increased width */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 3400px;
}
 
.user-info-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}
 
.user-info-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1600px;
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition */
}
 
.user-info-card:hover {
    transform: translateY(-10px); /* Move up on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}
 
.user-profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}
 
.user-info-details {
    display: flex;
    flex-direction: column;
}
 
.user-info-item {
    margin-bottom: 10px;
}
 
.user-info-key {
    font-size: 18px;
    margin: 0;
    color: #333;
}
 
.user-info-value {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}
 
button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}